<div class="contenedor">
    <h3 class="my-3 text-center">Devolpers</h3>

    <div class="subcontenedor mb-3 d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyOkZVjU0MG1Ms4ilMFmw7XDwJubS3huDkPvixxuSqwG4A5GOnqJpW8UVd-Qr20Lnv66U&usqp=CAU">
            <div class="card-body">
              <h5 class="card-title text-center">Isabella Acuña</h5>
              <p class="card-text" style="text-align: justify;">Estudiante de grado 11 del CSMA, proxima promocion 2023, excelente estudiante en todas la materias,ganadora de la beca.</p> 
            </div>
          </div>
    </div>
    <div class="subcontenedor d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhq6soic2d67n_6j43brBZRMjYWNeNwuU7tw&usqp=CAU">
            <div class="card-body">
              <h5 class="card-title text-center">Nicolle Vargas</h5>
              <p class="card-text" style="text-align: justify;">Estudiante de grado 11 del CSMA, proxima promocion 2023, excelente estudiante en todas la materias,ganadora de la beca.</p> 
            </div>
          </div>
    </div>
</div>
