<div class="contenedor">

    <div class="subcontenedor mx-3">
        <h3 class="text-center mt-3">Welcome to Csma Site</h3>
        <img class="text-center mb-3" src="https://csma.phidias.co/interface/xhtml/img/label.png" width="100%">
        <p style="text-align: justify;">Este periodico digital es una iniciativa por el grado once de la promocion 2023, con el fin de informar de forma inmediata a toda la comunidad mateista a atraves de medios digitales como el celular y navegadores Web, el aplicativo esta enfocado principalmente a dispositivos moviles de tamaño pequeño.</p>
        <b>Conformado por:</b>
        <code>Isabella Acuña y Neyder Neme (Docente) </code>

    </div>
</div>

